<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{#if scene.title}}{{scene.title}} | {{/if}}{{app.name}}</title>
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="{{app.keywords}}">
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{#if scene.title}}{{scene.title}} | {{/if}}{{app.name}}" />
    <meta property="og:image" content="assets/images/icons/apple-touch-icon.png" />
    <meta property="og:description" content="{{app.description}}" />
      
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="{{app.mstilecolor}}">
    <meta name="msapplication-config" content="assets/browserconfig.xml">
    <meta name="theme-color" content="{{app.themecolor}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="{{app.themecolor}}">

    <!-- common -->
    <link rel="stylesheet" type="text/css" href="style/app-theme.css">
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
  {{> mkungla.github.io/github-corner}}
