<nav>
  <h4>App</h4>
  <a href="{{urlPrefix}}/index.html">Home</a>
  <a href="{{urlPrefix}}/example-without-aframe.html">App without A-Frame</a>
  <h4>Offline</h4>
  <a href="{{urlPrefix}}/offline/">Status</a>
  <h4>A-Frame</h4>
  <a href="{{urlPrefix}}/example-aframe-stats.html">A-Frame Stats</a>
  <a href="{{urlPrefix}}/example-aframe-move-active-camera.html">Moving camera</a>
  <h4>Development</h4>
  <a href="{{urlPrefix}}/example-devel-variables.html">Variables</a>
  <a href="{{urlPrefix}}/example-devel-images.html">Images</a>
</nav>
