{{> html/header-without-aframe }}
{{> html/nav }}
<header>
  <h1>{{#if title}}{{title}}{{else}}{{name}}{{/if}}</h1>
  <sup class="app-version">{{name}} v: {{version}}</sup>
  {{> app/controls }}
</header>
<main>

</main>
{{> html/footer }}
