{{> html/header }}
{{> app/side-nav }}
<header>
  <h1>{{#if title}}{{title}}{{else}}{{name}}{{/if}}</h1>
  <sup class="app-version">{{name}} v: {{version}}</sup>
  <br>
  <div class="summary">Images and icons generated based on logo found ./src/img/logo.png</div>
  {{> app/controls }}
</header>

<main>
  <table class="pwa-images">
    <thead>
      <tr>
        <th>Path</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td><pre>assets/pwa/android-chrome-36x36.png</pre></td><td><img src="assets/pwa/android-chrome-36x36.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-48x48.png</pre></td><td><img src="assets/pwa/android-chrome-48x48.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-72x72.png</pre></td><td><img src="assets/pwa/android-chrome-72x72.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-96x96.png</pre></td><td><img src="assets/pwa/android-chrome-96x96.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-144x144.png</pre></td><td><img src="assets/pwa/android-chrome-144x144.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-192x192.png</pre></td><td><img src="assets/pwa/android-chrome-192x192.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-256x256.png</pre></td><td><img src="assets/pwa/android-chrome-256x256.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-384x384.png</pre></td><td><img src="assets/pwa/android-chrome-384x384.png" /></td></tr><tr>
      <td><pre>assets/pwa/android-chrome-512x512.png</pre></td><td><img src="assets/pwa/android-chrome-512x512.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-57x57.png</pre></td><td><img src="assets/pwa/apple-touch-icon-57x57.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-60x60.png</pre></td><td><img src="assets/pwa/apple-touch-icon-60x60.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-72x72.png</pre></td><td><img src="assets/pwa/apple-touch-icon-72x72.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-76x76.png</pre></td><td><img src="assets/pwa/apple-touch-icon-76x76.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-114x114.png</pre></td><td><img src="assets/pwa/apple-touch-icon-114x114.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-120x120.png</pre></td><td><img src="assets/pwa/apple-touch-icon-120x120.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-144x144.png</pre></td><td><img src="assets/pwa/apple-touch-icon-144x144.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-152x152.png</pre></td><td><img src="assets/pwa/apple-touch-icon-152x152.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-167x167.png</pre></td><td><img src="assets/pwa/apple-touch-icon-167x167.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-180x180.png</pre></td><td><img src="assets/pwa/apple-touch-icon-180x180.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon-precomposed.png</pre></td><td><img src="assets/pwa/apple-touch-icon-precomposed.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-icon.png</pre></td><td><img src="assets/pwa/apple-touch-icon.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-320x460.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-320x460.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-640x920.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-640x920.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-640x1096.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-640x1096.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-748x1024.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-748x1024.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-750x1294.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-750x1294.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-768x1004.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-768x1004.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-1182x2208.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-1182x2208.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-1242x2148.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-1242x2148.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-1496x2048.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-1496x2048.png" /></td></tr><tr>
      <td><pre>assets/pwa/apple-touch-startup-image-1536x2008.png</pre></td><td><img src="assets/pwa/apple-touch-startup-image-1536x2008.png" /></td></tr><tr>
      <td><pre>assets/pwa/favicon-16x16.png</pre></td><td><img src="assets/pwa/favicon-16x16.png" /></td></tr><tr>
      <td><pre>assets/pwa/favicon-32x32.png</pre></td><td><img src="assets/pwa/favicon-32x32.png" /></td></tr><tr>
      <td><pre>assets/pwa/favicon.ico</pre></td><td><img src="assets/pwa/favicon.ico" /></td></tr><tr>
      <td><pre>assets/pwa/firefox_app_60x60.png</pre></td><td><img src="assets/pwa/firefox_app_60x60.png" /></td></tr><tr>
      <td><pre>assets/pwa/firefox_app_128x128.png</pre></td><td><img src="assets/pwa/firefox_app_128x128.png" /></td></tr><tr>
      <td><pre>assets/pwa/firefox_app_512x512.png</pre></td><td><img src="assets/pwa/firefox_app_512x512.png" /></td></tr><tr>
      <td><pre>assets/pwa/mstile-70x70.png</pre></td><td><img src="assets/pwa/mstile-70x70.png" /></td></tr><tr>
      <td><pre>assets/pwa/mstile-144x144.png</pre></td><td><img src="assets/pwa/mstile-144x144.png" /></td></tr><tr>
      <td><pre>assets/pwa/mstile-150x150.png</pre></td><td><img src="assets/pwa/mstile-150x150.png" /></td></tr><tr>
      <td><pre>assets/pwa/mstile-310x150.png</pre></td><td><img src="assets/pwa/mstile-310x150.png" /></td></tr><tr>
      <td><pre>assets/pwa/mstile-310x310.png</pre></td><td><img src="assets/pwa/mstile-310x310.png" /></td></tr><tr>
      <td><pre>assets/pwa/yandex-browser-50x50.png</pre></td><td><img src="assets/pwa/yandex-browser-50x50.png" /></td></tr>
    </tbody>
  </table>
</main>
{{> html/footer }}
